.border{
	border:1px solid red;
}

h1{
	font-size: 60px;
}
.left{
	float: left;
}
.systemColor{
	color: #a4a4a4;
}
#tf-home{
	background: url(../img/01.png);
	background-size: cover;
	/*background-position: center;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

.systemImg{
	margin: 0 auto;margin-top: 100px
}

.tf-services strong{
	color:#5a5a5a;
}

.hover-bg h3{
	color:#282828;
}

.copyright p{
	font-size: 10px;
	color: white;
}