

<h2>指令</h2>>
<h3> 全局安装cli </h3>&nbsp;&nbsp;&nbsp;<span> npm install -g @angular/cli </span><br/>
<h3> 创建新项目 </h3>&nbsp;&nbsp;&nbsp;<span> ng new my-app </span><br/>
<h3> 打开server服务器 </h3>&nbsp;&nbsp;&nbsp;<span>ng serve --open </span><br/>
<h3> 创建新的组件 </h3>&nbsp;&nbsp;&nbsp;<span>ng g c heroes(ng generate component name) </span><br/>


<h2>代码</h2>
<h3>两个大括号</h3>&nbsp;&nbsp;&nbsp;<span>可以将组件的值绑定到HTML中 </span><br/>






-------------------------------------------------------------------------------
<button nz-button [nzType]="'primary'">测试按钮</button>


<!-- <app-heroes></app-heroes> -->
