* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium;
}
body {
  height: 100vh;
  background: url('../images/backbg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.log{
  position: fixed;
  top: 0.625rem;
  left: 0.8125rem;
}
.content{
  width: 100%;
  display: flex;
  flex-direction:column ;
  align-items: center;
 /* border: 1px solid red;
  */
  position: relative;
}
.content-text{
  position: absolute;
  top: 2.8125rem;
  width: 16.6875rem;
  height: 5.375rem;
}
.center-img{
  width: 21.25rem;
  height: 18.5rem;
}
.icon-text{
  margin-top: 1.0625rem;
  width: 20.6875rem;
  height: 3.125rem;
}
.input-content{
  margin-top: 1.875rem;
  width: 18.75rem;
  height: 2.75rem;
  background: #fff;
  border-radius:0.25rem;
  -moz-border-radius:0.25rem;
 /* Old Firefox */
  display: flex;
  align-items: center;
}
.input-content .icon{
  width: 0.8125rem;
  height: 1.25rem;
  margin-left: 0.8125rem;
}
.input-content .input{
  margin-left: 0.625rem;
  height: 100%;
  width: 80%;
  border: none;
  font-size: 0.875rem;
}
.footer-button{
  width: 18.75rem;
  height: 2.75rem;
  background: url('../images/button.png');
  text-align: center;
  line-height: 2.75rem;
  color: #fff;
  font-size: 0.875rem;
  margin-top: 1.0625rem;
  border-radius:0.25rem;
  -moz-border-radius:0.25rem;
}
